body {
    background-color: black;
    color: white;
}

.input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    color: inherit;
}

.input-line {
    display: flex;
}

.prompt {
    white-space: nowrap;
}